/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  color: currentColor;
}

button {
  font-family: inherit;
  color: currentColor;
}

address {
  font-style: normal;
}

/* styles */

.header {
  color: var(--SLATE, #434455);
}

.header-nav {
}

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-web {
}

.nav-list {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.nav-list-item {
}

.nav-item-link {
  color: #2e2f42;
}

.nav-item-link:hover {
  color: #404bbf;
}

.nav-item-link:focus {
  color: #404bbf;
}

.address {
  font-family: Roboto;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.address-list {
}

.address-list-item {
}

.address-item-link {
}
